*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6); 
    background: linear-gradient(to left, #021B79, #0575E6);
}

.calc button{
    height: 98%;
    width: 98%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.calc button:hover {
    background-color: #a3a3a5;
}

.calc {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(7, 5rem);
}

.res {
    font-size: 4rem;
    height: 5rem;
    width: 99.5%;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 30px;
    background-color: lightgray;
    color: #222;
    text-align: right;
    overflow-y: hidden;
}

footer {
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
}

footer p i {
    color: red;
}

.calc-wrapper {
    display: flex;
    background-color: #030303b3;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem 0;
    margin-top: 8rem;
    width: 35rem;
    height: 35rem;
}